body{
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
#test
{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#dox
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#yes
{
    text-align: center;
}
